.box {
    border: 2px solid #000;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color); /* Use the CSS variable for background color */
}
.box img {
    max-width: 30%;
    height: auto;
}
.box-content {
    max-width: 65%;
}
.header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center-align the header */
}
.paragraph {
    font-size: 18px;
}
